header.headroom {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all .2s ease-in-out;
}

header.headroom--unpinned {
    top: -100px;
}

header.headroom--pinned {
    top: 0;
}

div.ng-scope {
    margin-top: 70px;
    margin-left:20px;
}

nav.navbar {
    padding-right:20px;
}

.dropzone {
    height:100%;
    width:100%;
}

div.photostream {
    display: inline;
    margin:0;
}

div.photostream img {
    margin-top:3px;
}

span.photostream-pagination {
    width: 100%;
    text-align: center;
    float: right !important;
}