<div class="login" data-ng-controller="FormsController">
    <form action="/login.form" method="post">
        <div><label>
            <msg key="login.username"/>
            : <input type="text" data-ng-model="data.username"/> </label></div>
        <div><label>
            <msg key="login.password"/>
            : <input type="password" data-ng-model="data.password"/> </label></div>
        <div><input type="button" data-ng-click="submit('login')" value="Submit"/>
        </div>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    </form>
    <a href="#/register">
        <msg key="login.register"/>
    </a>
</div>