<script>
  new Dropzone(document.getElementById('picture-dropzone'), { // Make the whole body a dropzone
    url: "/picture", // Set the url
    previewsContainer: "#previews", // Define the container to display the previews
    acceptedMimeTypes: "image/*"
  });



</script>
<form id="picture-dropzone" enctype="multipart/form-data" action="/picture" class="dropzone">
    <div id="previews" class="dropzone-previews"></div>
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
</form>
