<!doctype html>
<html lang="en" ng-app="orchidae">
<head>
    <meta charset="utf-8">
    <title>Service App</title>
    <link rel="stylesheet" type="text/css" href="resource/css/dist/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="resource/css/orchidae.css"/>
    <link rel="stylesheet" type="text/css" href="resource/css/dist/flag-icon.min.css"/>

    <script src="resource/js/dist/jquery.min.js"></script>
    <script src="resource/js/dist/angular.min.js"></script>
    <script src="resource/js/dist/ui-bootstrap.min.js"></script>
    <script src="resource/js/dist/headroom.min.js"></script>
    <script src="resource/js/dist/angular.headroom.min.js"></script>
    <script src="resource/js/dist/angular-route.min.js"></script>
    <script src="resource/js/dist/jquery.i18n.properties.js"></script>
    <script src="resource/js/app.js"></script>
    <script src="resource/js/controller/i18n.js"></script>
    <script src="resource/js/controller/settings.js"></script>
</head>
<body ng-controller="MainController" ng-init="setLanguage('us')">
<div class="container" id="nav-top">
    <header headroom>
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">orchidae</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#/upload">
                        <msg key="main.upload"/>
                    </a></li>
                    <li><a href="#/stream">
                        <msg key="main.photostream"/>
                    </a></li>
                    <li><a href="#/albums">
                        <msg key="main.album"/>
                    </a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/login">
                        <msg key="main.login"/>
                    </a></li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle flag-icon" id="langToggle"
                           data-toggle="dropdown">
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="lang in availLang()"><a href ng-click="setLanguage(lang)"><span
                                    class="flag-icon flag-icon-{{lang}}"></span>
                                <msg key="lang.{{lang}}"/>
                            </a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</div>
<div ng-view class="site"></div>
</body>
</html>
